body{
  margin: 0;
}
.parent{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 1;
  background-color: #b6b6b6;
  display: flex;
}

.header,.footer{
  color: #fff;
  background-color: #212121;
  padding: 20px;
}
.col-1,.col-2,.col-3{
  padding: 20px;
  color: #fff;
}
.col-1{
  background-color: #9c27b0;
  flex-grow: 1;
}
.col-2{
  background-color: #ff5722;
  order: -1;
  width: 120px;
}
.col-3{
  background-color: #388e3c;
  width: 120px;
}
@media (max-width: 600px) {
  .main{
    flex-direction: column;
  }
  .col-2,.col-3{
    width: auto;
  }
}
